/* General App Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Card Styles */
.card {
  @apply bg-white shadow-md rounded-lg p-4 m-4;
}

.card-image {
  @apply w-full h-[40rem] object-cover rounded-lg; /* Increased height */
}

.card-title {
  @apply text-xl font-bold mt-2;
}

.card-features {
  @apply text-gray-700 mt-1;
}

.like-button {
  @apply bg-transparent border-none cursor-pointer mt-2;
  transition: transform 0.2s;
}

.like-button.liked {
  @apply text-red-500;
  transform: scale(1.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
